*{
    font-family: 'Times New Roman', Times, serif;
}


#main-content{
    background-color: bisque;
    height: 500px;
}

#header{
    position: absolute;
    top: 0px;
    width: 100%;
    background-color: blue;
    height: 60px;

}